@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom quill */
@layer utilities {
    .custom-quill .ql-container {
        @apply border-2 border-customGray text-white placeholder-white bg-black !important;
    }

    .custom-quill .ql-toolbar {
        @apply border-customGray bg-black !important;
    }
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #6b7280;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-corner {
    background: transparent;
}